<?xml version="1.0" encoding="UTF-8" ?>
    <widget xmlns = "http://www.w3.org/ns/widgets"
        xmlns:gap = "http://phonegap.com/ns/1.0"
        id        = "org.dossou.app.meteoTrack"
        versionCode="1" 
        version   = "1.0.0">

    <!-- versionCode is optional and Android only -->

    <name>MCF</name>

    <description>
        Météo sur les circuit français
    </description>

    <author href="http://meteoTrack.app.dossou.org" email="damien.fourcade@gmail.com">
        Capetot 2k13
    </author>

	<!-- <feature name="http://api.phonegap.com/1.0/device" /> -->
    <feature name="http://api.phonegap.com/1.0/geolocation"/>
	
	<preference name="fullscreen" value="true" />
    <preference name="orientation" value="portrait" />
    <preference name="phonegap-version" value="2.7.0" />
    <preference name="exit-on-suspend" value="true" />
    <preference name="prerendered-icon" value="true" />

	<icon src="icon.png" />
    <icon src="icons/ios/icon-114.png" gap:platform="ios" width="114" height="114" />
    <icon src="icons/ios/icon-144.png" gap:platform="ios" width="144" height="144" />

    <gap:splash src="splash.png" />
    <gap:splash src="splash/ios/splash.png" gap:platform="ios" width="640" height="960" />
</widget>