<?xml version="1.0" encoding="UTF-8" ?>
    <widget xmlns = "http://www.w3.org/ns/widgets"
        xmlns:gap = "http://phonegap.com/ns/1.0"
        id        = "org.dossou.app.meteoMoto"
        versionCode="3" 
        version   = "1.0.2">

    <!-- versionCode is optional and Android only -->

    <name>Météo Moto</name>
    <!-- <access subdomains="false" uri="http://debug.phonegap.com"/>-->

    <description>Météo des circuits français</description>

    <author href="http://meteoMoto.app.dossou.org" email="damien.fourcade@gmail.com">Capetot 2k13</author>

	<!-- <feature name="http://api.phonegap.com/1.0/device" /> -->
    <feature name="http://api.phonegap.com/1.0/geolocation"/>
	
	<preference name="fullscreen" value="true" />
    <preference name="orientation" value="portrait" />
    <preference name="phonegap-version" value="2.7.0" />
    <preference name="exit-on-suspend" value="true" />
    <preference name="prerendered-icon" value="true" />
    <preference name="android-minSdkVersion" value="14" />

	<icon src="icon.png" />
    <icon src="icons/ios/icon.png" gap:platform="ios" width="57" height="57" />
    <icon src="icons/ios/icon-72.png" gap:platform="ios" width="72" height="72" />
    <icon src="icons/ios/icon_at_2x.png" gap:platform="ios" width="114" height="114" />
    <!-- retina iPad support: PhoneGap 2.5.0+ only -->
    <icon src="icons/ios/icon-72_at_2x.png" gap:platform="ios" width="144" height="144" />

    <gap:splash src="splash.png" />
    <gap:splash src="splash/ios/splash.png" gap:platform="ios" width="640" height="960" />
</widget>